[{"timecode":"00:13:03:55","clip":"3\r","slot":"1"},{"timecode":"00:18:11:57","clip":"4\r","slot":"1"},{"timecode":"00:18:13:59","clip":"4\r","slot":"1"},{"timecode":"00:19:07:45","clip":"4\r","slot":"1"}]